In [2]:
my_name = "Balamurugan Palanisamy"

In [3]:
my_name

'Balamurugan Palanisamy'

In [4]:
#declaring string

In [5]:
my_name(0)

TypeError: 'str' object is not callable

In [6]:
my_name

'Balamurugan Palanisamy'

In [7]:
my_name[0]

'B'

In [8]:
my_name[-3]

'a'

In [9]:
my_name[3:7]

'amur'

In [10]:
my_name[3:]

'amurugan Palanisamy'

In [11]:
my_name[4:]

'murugan Palanisamy'

In [12]:
my_name[:-4]

'Balamurugan Palani'

In [13]:
my_name[:,2]

TypeError: string indices must be integers

In [14]:
my_name[,2]

SyntaxError: invalid syntax (<ipython-input-14-8afca5c46052>, line 1)

In [15]:
my_name[:2:]

'Ba'

In [16]:
my_name[::,2]

TypeError: string indices must be integers

In [17]:
my_name[2::]

'lamurugan Palanisamy'

In [18]:
my_name[2::2]

'lmrgnPlnsm'

In [19]:
my_name[0::3]

'BaraPasy'

In [20]:
my_name[::-1]

'ymasinalaP nagurumalaB'

In [21]:
#print string in reverse order

# String concatenation

In [22]:
a = "balamurugan"
b = "palanisamy"
c = a+b
c

'balamuruganpalanisamy'

In [25]:
first_name = "selvarathi "
last_name = "balamurugan"
Full_name = first_name + last_name
Full_name

'selvarathi balamurugan'

# split a string

In [40]:
full_name = "Balamurugan Palanisamy"
full_name

'Balamurugan Palanisamy'

In [41]:
full_name.split()

['Balamurugan', 'Palanisamy']

In [42]:
full_name.split(2)

TypeError: must be str or None, not int

In [43]:
full_name.split(,2)

SyntaxError: invalid syntax (<ipython-input-43-92c359d756ea>, line 1)

In [44]:
full_name.split[2]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [45]:
full_name = full_name.split()

In [46]:
full_name

['Balamurugan', 'Palanisamy']

In [47]:
full_name = full_name.split(2)
full_name

AttributeError: 'list' object has no attribute 'split'

In [51]:
full_name="Balamurugan"
full_name=full_name.split('a',1)
full_name

['B', 'lamurugan']

# string formatting

In [53]:
name = "bala"
"I {} is a employee of FLSmidth".format(name)

'I bala is a employee of FLSmidth'

In [58]:
name1 = "tamizh"
"i go to FCS with {} {}".format(name,name1)

'i go to FCS with bala tamizh'

In [59]:
"i go to FCS with {1} {1}".format(name,name1)

'i go to FCS with tamizh tamizh'

In [62]:
"i go to FCS with {t} {t}".format(b = name,t = name1)

'i go to FCS with tamizh tamizh'

In [63]:
name.upper()

'BALA'

In [64]:
name
name.lower()

'bala'

In [66]:
name.title()

'Bala'